<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangdatou.springclouddemo_service_user.dao.UserDao" >

    <select id="findAll" resultType="User">
        SELECT * from USER
    </select>

    <insert id="addUser" parameterType="User">
        INSERT INTO USER
            (USERNAME,
             PASSWORD,
             TELEPHONE,
             EMAIL)
        VALUES (#{username},
                #{password},
                #{telephone},
                #{email})
    </insert>

</mapper>